extends ./layout

block content
  row
    .small-12.large-12.columns
      .detail_column.clearfix
        header.header_details
          h1 Workality
          a(href="/")
            button 
              i(class="fa fa-angle-left")
        .details
          h3 Notable Work
          h4 Title
            p= article.title
          h4 Author
            p= article.author
          h4 Project URL
            a.url(href=article.photoURL)
              p= article.photoURL
          h4 Creation Date
            p= article.created_at
          p= article.body
        //- .field
          //- form(action="/detail/#{article._id}?_method=PUT", method="POST")
          //- .field
          //-   h1 title:
          //-     input(type="text", name="title", value=article.title)
          //- .field
          //-   h1 author:
          //-     input(type="text", name="title", value=article.author)
          //- .field
          //-   h1 body:
          //-     input(type="text", name="title", value=article.body)

