extends ./layouts/layout.jade

block content
  .return
    a.back(href="/")
  .single
    h2= news.title
    .row
      .large-3.columns
        ul
          each column in news
            li
              h4 Creative Fields    
              p= column.field 
            li
              h4 Client    
              p= column.author
            li 
              h4 Project URL
              p= column.url
            li
              h4 Completion Date
              p= column.created_at

     

                     
                
