extends ./layouts/layout.jade

block content
<<<<<<< HEAD
  .cotainer
    a(href="/").large-12.columns 
   each column in news  
    h1.large-12.columns= column.title
    .row.large-3.columns
      ul
        
          li.info.large-3.columns 
            h1.header Creative Fields    
            p= column.field 
          li.info.large-3.columns 
            h1.header Client    
            p= column.author
          li.info.large-3.columns 
            h1 Project URL
            p= column.url
          li.info.large-3.columns
            h1 Completion Date
            p= column.created_at 
      div= column.content
      div
        img(src= column.image)
