extends ./layouts/layout.jade

block content
  .single_content
    .return
      a.back(href="/")
    .single
      each column in news
        h2= column.title
        .row
          .large-.columns
            ul
              li
                h4 Creative Fields    
                p= column.field
              li 
                h4 Client    
                p= column.author
              li 
                h4 Project URL
                p= column.url
              li
                h4 Completion Date
                p= column.created_at
        .row
          .small-12.columns
            .large-10.columns
              p= column.content
            .large-2.columns
              a.share(href="#") Share
            .small-12.columns
              .featured_img
                img(src= column.image)  



      
